<% include ../partials/header %>

  <header class = "jumbotron">
    <div class = "container" >
      <h1> This is GoCamping! </h1>
      <p> 
        Choose the best option for you to go on the greatest camping ever! Take that special
        moment you've been waiting for and enjoy being alive and having this beatiful world to 
        discover. 
      </p>
      <p>
        <a class = "btn btn-primary  btn-large" href = "/campgrounds/new" > Add Campground </a>
      </p>
    </div> 
  </header>
    
  <div id = "campground-grid" class="row text-center flex-wrap">
    <% campgrounds.forEach((campground) => { %>
    <div class = "col-md-3 col-sm-6">
       <div class = "thumbnail" >
        <img src = "<%= campground.image %>" alt = "Image Here">
        <div class = "caption"> 
          <h4> <%= campground.name %> </h4>
        </div>
        <p>
          <a href="/campgrounds/<%= campground._id %>" class = "btn btn-primary"> More info </a>
        </p>
       </div>      
    </div>
    <% }); %>
  </div>


<% include ../partials/footer %>